extends layout

block content
  h1 MY COLOR PICKER
  form(method="POST" action="/")
    label(for="picker") Bckgruond
    br
    input(type="color" name="colorPicker" id="picker" value=`${color}`)
    br
    label(for="picker") Tetx
    br
    input(type="color" name="textColorPicker" id="textPicker" value=`${textColor}`)
    br

    button(type="submit") Submit
    form(method="POST" action="/random")
      button(type="submit") Random


